<div class="concursos col-xs-12 col-sm-12 col-md-12" ng-controller="MainController">
	<!-- concursos -->
	<div class="col-md-12">
	  <h1 class="title">Concursos</h1>
	  <div class="col-xs-12 col-sm-6 col-md-4 text-center" ng-repeat="concurso in concursos">
	    <div class="thumbnail">
	      <img class="img-rounded" src="{{concurso.img}}" alt="{{concurso.img}}">
	      <div class="caption">
	        <h2>{{concurso.name}}</h2>
	        <p>{{concurso.text}}</p>
	        <p><a href="{{concurso.url}}" class="btn btn-primary" role="button">Entrar</a></p>
	      </div>
	    </div>
	  </div>

	</div>
</div>