<section class="background-top container"></section>
<section class="container" ng-include="'views/presentation.html'"></section>
<section class="background container"></section>
<section class="container" ng-include="'views/concursos.html'"></section>
<section class="background container"></section>
<section class="container" ng-include="'views/conocimientos.html'"></section>
<section class="background container"></section>
<section class="container" ng-include="'views/contactos.html'"></section>
