<div class="presentation col-xs-12 col-sm-12 col-md-12" ng-controller="MainController">
	<!-- Foto y nombre -->
	<div class="col-xs-12 col-sm-6 col-md-6">
		<div class="col-md-12 text-center">
			<img src="{{presentation.urlImage}}" class="img-presentation img-circle" />
		</div>
		<div class="col-md-12 text-center">
			<p class="name"> {{presentation.name}} {{presentation.subname}}</p>
			<p class="study"> {{presentation.study}}</p>
		</div>
	</div>
	<!-- frase bonita -->
	<div class="col-xs-12 col-sm-6 col-md-6 text-center">
		<p class="text"> {{presentation.text}}</p>
		<p class="text"> {{presentation.nameText}}</p>
	</div>
</div>